################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MIST353GroupProjectSlickSnakes/.vs/MIST353GroupProjectSlickSnakes/FileContentIndex
